<html>
<head>
    <title>Numberstation</title>
    <meta http-equiv="refresh" content="5">
</head>
<body>

<h1>Numberstation</h1>

<h2>Current Number</h2>
<p>{{ current.description }}</p>
<p style="padding: 8px 12px; background-color: black; color: rgb{{current.color}}; font-size: 20px">{{ current.now }}</p>

<h2>Coming Up</h2>
<ol>
    %for n in coming_up:
    <li>{{ n.description }}</li>
    %end
</ol>

<h2>Displaying your own number</h2>
<p>
    To display your own number, request the url <tt>/number</tt> with these query string parameters:
</p>
<ul>
    <li>n: the number to display. The system can only display integers, but they can be negative. Up to 11 digits are
        available.
    </li>
    <li>d: description of your number.</li>
    <li>r, g, b: the color your number should be displayed in. Optional; if you leave it off, you will get a random
        color.
    </li>
    <li>i: increment: if your number changes, then give the change per second. The number will be incremented by this
        value per second from the time you submit your number.
    </li>
</ul>

</body>
</html>